16-03-21

Create a new table called '[Author]' in schema '[dbo]'

Drop the table if it already exists

In [ ]:
IF OBJECT_ID('[dbo].[Author]', 'U') IS NOT NULL
DROP TABLE [dbo].[Author]

Create the table in the specified schema

In [ ]:
CREATE TABLE [dbo].[Author]
(
    [Id] INT NOT NULL PRIMARY KEY IDENTITY(1,1), -- Primary Key column
    [FirstName] NVARCHAR(50),
    [LastName] NVARCHAR(50),
    [Email] NVARCHAR(50) UNIQUE,
    -- Specify more columns here
);